@{
    ViewData["Title"] = "View";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="todo"></div>
</div>

@section Scripts {
    <script src="_framework/blazor.webassembly.js"></script>
}
